* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    position: relative;
    background: linear-gradient(to right, #fc67674f, #ec008e8b);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#timer{
    position: absolute;
    top:50%;
    left:5%;
    font-weight:bold;
    font-size:4rem;
}

#commencer{
    display:none;
    position: absolute;
    top:50%;
    right:1%;
    font-weight:bold;
    font-size:3rem;
    cursor: pointer;
}
a{
    text-decoration:none;
    color:black;
}
a:hover{
    text-decoration: underline;
}

.container .cards .card .back-view img {
    width: 7vw;
    height: 7vw;
}

.card .back-view img {
    max-width: 80px;

}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    border: 2px solid black;
    height: 620px;
    width: 820px;
    background: linear-gradient(to right, #fc6767, #ec008c);
    border-radius: 10 px;
    padding: 25 px;
    box-shadow: 0 0 10px;

}

.cards,
.card,
.view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card {
    height: calc(100% / 5 - 10px);
    width: calc(100% / 5 - 10px);
    position: relative;
    perspective: 800 px;
    transform-style: preserve-3d;
}

.cards .card .view {
    width: 90%;
    height: 90%;
    background-color: #fff;
    border-radius: 25px 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.616);
    position: absolute;
    transition: transform .25s linear;
    backface-visibility: hidden;
    pointer-events: none;
    user-select: none;
}

.card .back-view {
    transform: rotateY(-180deg);
}

.card.flip .back-view {
    transform: rotateY(0);
}

.card.flip .front-view {
    transform: rotateY(180deg);
}

.card.vibration {
    animation: vibration 0.20s ease-in-out;
}

@keyframes vibration {

    0%,
    100% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-13px);
    }
    40%{
        transform:translateX(13px) ;
    }
    60%{
        transform: translateX(-8px);
    }
    80%{
        transform: translateX(8px);
    }
}
#message{
    position: absolute;
    z-index:100;
    font-size:4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color:black;
}
